@use "../../theme/variables.scss";
@import "../../theme/mixins.scss";

.project-inner {
  padding-top: 4.687rem;
  padding-bottom: 3.187rem;

  @media (max-width: variables.$med) {
    padding-top: 3rem;
    padding-bottom: 5.937rem;
  }
}

.project-inner__text {
  color: var(--primary-sixth);

  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.project-inner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-inner__title {
  max-width: 53rem;
  @include section-title(var(--primary-sixth), 4.062rem);

  @media (max-width: variables.$med) {
    @include section-title(var(--primary-sixth), 4.562rem);
  }
}

.projects-inner__desc {
  max-width: 38.375rem;
  margin-bottom: 4.062rem;
  text-align: center;

  @media (max-width: variables.$med) {
    margin-bottom: 4.625rem;
  }
}

.project-inner__gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2.25rem;
}

.project-inner__gallery-img {
  position: relative;
  width: 46.461%;
  margin-bottom: 3.125rem;
  &:nth-child(2n + 1) {
    margin-right: auto;
  }

  &::before {
    content: "";
    display: block;
    padding-top: 79.304%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: variables.$med) {
    margin-bottom: 1.625rem;
  }
}

.project-inner__about {
  display: flex;
  align-items: center;
  margin-bottom: 5.562rem;
  text-align: center;

  @media (max-width: variables.$med) {
    margin-bottom: 3rem;
  }
}

.project-inner__about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-left: 5.77%;
  padding-right: 8.232%;
}

.project-inner__about-logo {
  position: relative;
  width: 80.645%;
  margin-bottom: 4.463rem;

  &::before {
    content: '';
    display: block;
    padding-top: 48.916%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  @media (max-width: variables.$med) {
    width: 52.7%;
    margin-bottom: 3.562rem;
  }
}

.project-inner__about-text {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.project-inner__about-img {
  position: relative;
  width: 55.384%;
  flex-shrink: 0;

  &::before {
    content: '';
    display: block;
    padding-top: 63.611%;
  }

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: variables.$med) {
    display: none;
  }
}

.project-inner__address {
  width: 32.437rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  text-align: left;
}