@use "../../../theme/variables.scss";
@import "../../../theme/extends.scss";

.mail {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.mail__title {
  margin-top: 0;
  margin-bottom: 3.25rem;

  color: var(--primary-sixth);

  @extend %heading-2;
  text-align: left;

  @media (max-width: variables.$small) {
    margin-bottom: 0.937rem;
  }
}

.mail__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.mail__form-inputs {
  width: 100%;
  max-width: 74.875rem;
  margin-bottom: 6.437rem;
  margin-right: auto;
  @media (max-width: 54rem) {
    margin-bottom: 1.937rem;
  }
}

.mail__form-inputs-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.312rem;

  .mail__form-input {
    width: 24.958%;
  }

  @media (max-width: 54rem) {
    flex-direction: column;
    margin-bottom: 0;
    .mail__form-input {
      width: 100%;
      margin-bottom: 1.762rem;
    }
  }
}

.mail__form-input {
  display: inline-block;
  width: 100%;
  padding: 0 0 0.5rem 0;

  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-sixth);
  outline: none;

  color: var(--primary-third);

  font-family: montserrat, sans-serif;
  font-size: 1.062rem;
  font-weight: 400;
  line-height: 1.235;
    letter-spacing: 0.064em;

  &::placeholder {
    color: var(--primary-third-20);
    text-transform: capitalize;
  }

  @media (max-width: variables.$small) {
    font-size: 0.812rem;
    line-height: 1.219;
  }
  }
