.mail {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--primary-fifth);
}

.mail__title {
  margin-top: 0;
  margin-bottom: 3.25rem;

  color: var(--primary-sixth);

  font-family: helveticaNeue;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 6.4px;
  text-transform: uppercase;
}

.mail__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

}

.mail__form-inputs {
  width: 100%;
  max-width: 74.875rem;
  margin-bottom: 6.437rem;
  margin-right: auto;
}

.mail__form-inputs-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.312rem;

  .mail__form-input {
    width: 24.958%;
  }
}

.mail__form-input {
  display: inline-block;
  width: 100%;
  padding: 0 0 0.5rem 0;

  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--primary-sixth);
  outline: none;

  color: var(--primary-third);

  font-family: montserrat, sans-serif;
  font-size: 1.062rem;
  font-weight: 400;
  line-height: 1.235;

  &::placeholder {
    color: var(--primary-third-20);
  }
}
