@use "../../theme/variables.scss";
@import "../../theme/mixins.scss";

.contacts {
  padding-top: 3.312rem;
  padding-bottom: 10.187rem;

  @media (max-width: variables.$med) {
    padding-bottom: 2.125rem;
  }
}

.contact__content {
  margin-left: 1.312rem;
}

.contact__container {
  display: flex;
  justify-content: space-between;

  @media (max-width: variables.$med) {
    flex-direction: column;
  }
}

.contact__cards {
  @media (max-width: variables.$med) {
    display: flex;
    margin-bottom: 6.25rem;
  }

  @media (max-width: variables.$small) {
    flex-direction: column;
  }
}

.contact__card {
  max-width: 18.625rem;

  &:not(:last-child) {
    margin-bottom: 5.062rem;
  }

  @media (max-width: variables.$med) {
    margin-bottom: 0;

    &--address {
      max-width: 43.421%;
      margin-right: auto;
    }

    &--smm {
      margin-right: 3.437rem;
    }
  }

  @media (max-width: variables.$med) {
    &--address,
    &--smm {
      width: 100%;
      max-width: unset;
    }
  }
}

.contact__card-title {
  @include section-title(var(--primary-sixth), 1.625rem, flex-start);

  span {
    text-align: left;
  }
}

.contact__card-text {
  margin-bottom: 1.187rem;

  color: var(--primary-sixth);

  font-family: var(--primary-font);
  font-size: 1.062rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.contact__card-mail {
  color: var(--primary-sixth);

  font-family: var(--primary-font);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.contact__card-smm {
  ul {
    li {
      svg {
        fill: var(--primary-sixth);
      }
    }
  }
}

.contact__map {
  position: relative;
  width: 60.153%;
  background-color: var(--primary-fifth);

  &::before {
    content: '';
    display: block;
    padding-top: 60.869%;
  }

  >iframe {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
  }

  @media (max-width: variables.$med) {
    width: 100%;
  }
}

.contact-smm {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contact-smm__item {
  &:not(:last-child) {
    margin-right: 1.25rem;

    @media (max-width: variables.$small) {
      margin-right: 0.968rem;
    }
  }
}

.contact-smm__link {
  position: relative;
  display: block;
  width: 2.625rem;
  opacity: 0.5;
  transition: opacity 500ms ease;

  text-decoration: none;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  svg {
    fill: var(--primary-fifth);
  }

  &:hover {
    opacity: 1;
  }

  @media (max-width: variables.$small) {
    width: 1.968rem;
  }
}