@import "../../../theme/mixins.scss";

.partners {
  padding-top: 1.75rem;
  padding-bottom: 7.062rem;

  background-color: var(--primary-second);
}


.partners__title {
  @include section-title(var(--primary), 5.375rem);
}

.partners__container {
  display: flex;
  justify-content: center;
}

.partners__icons {
  display: flex;
  justify-content: space-between;
  width: 75.277%;
  min-width: 67.75rem;
}

.partners__icon {
  position: relative;
  opacity: 0.7;
  background-color: var(--primary);
  transition: opacity 300ms;

  &:hover {
    opacity: 1;
  }

  &::before {
    content: '';
    display: block;
  }

  &--abb {
    mask: url(../../../assets/img/partners/abb.svg) no-repeat center;
    width: 12.962%;
    &::before {
      padding-top: 29.285%;
    }
  }

  &--shin {
    mask: url(../../../assets/img/partners/projectShin.svg) no-repeat center;
    width: 10.185%;
    &::before {
      padding-top: 68.181%;
    }
  }

  &--legal{
    mask: url(../../../assets/img/partners/legal.svg) no-repeat center;
    width: 10.185%;
    &::before {
      padding-top: 68.181%;
    }
  }

  &--tsaghkadzor {
    mask: url(../../../assets/img/partners/tsaghkadzorLogo.svg) no-repeat center;
    width: 14.629%;
    &::before {
      padding-top: 50%;
    }
  }

  &--dilijan {
    mask: url(../../../assets/img/partners/dilijanLogo.svg) no-repeat center;
    width: 13.888%;
    &::before {
      padding-top: 34%;
    }
  }
}