@use "../../../theme/variables.scss";
@import "../../../theme/mixins.scss";

.partners {
  padding-top: 1.75rem;
  padding-bottom: 7.062rem;

  background-color: var(--primary-second);


  @media (max-width: variables.$med) {
    padding-top: 1.125rem;
    padding-bottom: 7.437rem;

    .page-container {
      padding: 0 0 0 1.875rem;
    }
  }

  @media (max-width:variables.$small) {
    padding-top: 0.562rem;
    padding-bottom: 2.875rem;

    .page-container {
      padding: 0;
    }
  }
}


.partners__title {
  @include section-title(var(--primary), 5.375rem);

  @media (max-width: variables.$med) {
    @include section-title(var(--primary), 3.968rem);
  }

  @media (max-width:variables.$small) {
    @include section-title(var(--primary), 2.437rem);
  }
}

.partners__icons {
  display: flex;
  justify-content: space-between;
  width: 75.277%;
  min-width: 67.75rem;
}

.partners__icon {
  position: relative;
  opacity: 0.7;
  background-color: var(--primary);
  transition: opacity 300ms;

  &:hover {
    opacity: 1;
  }

  &::before {
    content: '';
    display: block;
  }

  &--abb {
    mask: url(../../../assets/img/partners/abb.svg) no-repeat center;
    width: 12.962%;

    &::before {
      padding-top: 29.285%;
    }
  }

  &--shin {
    mask: url(../../../assets/img/partners/projectShin.svg) no-repeat center;
    width: 10.185%;

    &::before {
      padding-top: 68.181%;
    }
  }

  &--legal {
    mask: url(../../../assets/img/partners/legal.svg) no-repeat center;
    width: 10.185%;

    &::before {
      padding-top: 68.181%;
    }
  }

  &--tsaghkadzor {
    mask: url(../../../assets/img/partners/tsaghkadzorLogo.svg) no-repeat center;
    width: 14.629%;

    &::before {
      padding-top: 50%;
    }
  }

  &--dilijan {
    mask: url(../../../assets/img/partners/dilijanLogo.svg) no-repeat center;
    width: 13.888%;

    &::before {
      padding-top: 34%;
    }
  }
}