@use "../../../../theme/variables.scss";

.partners__swiper-container {
  position: relative;
  padding: 0 7.062rem;

  @media (max-width: variables.$med) {
    padding: 0;
  }
}

.partners__swiper.swiper {
  .swiper-pagination {
    display: none;
    bottom: unset;
    top: 100%;
    transform: translateY(-100%);

    .swiper-pagination-bullet {
      background-color: var(--primary);
    }
    .swiper-pagination-bullet-active {
      background-color: var(--primary);
    }
  }

  @media (max-width: variables.$large) {
    padding: 0 0 3rem!important;

    .swiper-pagination {
      display: block;
    }
  }

  @media (max-width: variables.$small) {
    padding: 0 0 3rem 0.937rem!important;
  }
}

.partners__swiper-button-next,
.partners__swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.25rem;
  z-index: 100;
  background-color: transparent;
  border: none;
  padding: 4rem 0;
  cursor: pointer;

  &.disabled {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    padding-top: 91.666%;
  }

  svg {
    fill: var(--primary-ninth);
    max-width: 100%;
    max-height: 100%;
  }

  @media (max-width: variables.$med) {
    display: none;
  }
}

.partners__swiper-button-next {
  left: 100%;
}

.partners__swiper-button-prev {
  right: 100%;
}

.partners__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__slide-img {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  opacity: 70%;
  transition: opacity 400ms;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  img {
    max-width: 91%;
  }

  &:hover {
    opacity: 100%;
  }

  @media (max-width:variables.$med) {
    max-width: 69%;
  }

  @media (max-width:variables.$small) {
    img {
      max-width: 114%;
    }
  }
}