@import "../../../theme/mixins.scss";

.advantages {
  padding-top: 1.875rem;
  padding-bottom: 2.593rem;
}

.advantages__title {
  @include section-title(var(--primary-sixth), 6.25rem)
}

.advantages__content {
  display: flex;
  justify-content: space-between;
}

.advantages__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 17.384%;
  min-width: 14.062rem;
  margin-left: 8.615%;
}

.advantages__text {
  color: var(--primary-sixth);

  font-family: helveticaNeue;
  font-size: 1.562rem;
  font-weight: 300;
  line-height: 1.208;
  letter-spacing: 6.4px;
  text-transform: uppercase;
}

.advantages__img {
  position: relative;
  width: 55.384%;

  &::before {
    content: '';
    display: block;
    padding-top: 63.611%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}