.language {
  display: flex;
  align-items: center;
  cursor: pointer;
  
  &.up:not(.top) .language__icon-container {
    svg {
      stroke: var(--primary-forth);
    }
  }

  &.up:not(.top) .language__text {
    color: var(--primary-forth);
  }
}

.language__icon-container {
  position: relative;
  width: 1.625rem;
  margin-right: 0.605rem;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  svg {
    stroke: var(--primary);
  }
}

.language__text {
  color: var(--primary);

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.22;
  text-transform: uppercase;
}
