@import "../../../theme/mixins.scss";
@import "../../../theme/variables.scss";

.button-secondary {
  display: flex;
  justify-content: center;
  padding-top: 1.562rem;
  padding-bottom: 1.562rem;

  background-color: var(--primary-sixth);

  @include btn-link($primary);
  text-decoration: none;
}

.button-secondary__text {
  position: relative;

  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6.4px;
}
