@import "../../../theme/mixins.scss";
@import "../../../theme/variables.scss";

.button-secondary {
  display: flex;
  justify-content: center;
  padding: 2rem;

  background-color: var(--primary-third-80);
  transition: background-color 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  @include btn-link($primary);
  text-decoration: none;
  &:hover {
    background-color: var(--primary-third);
  }
}

.button-secondary__text {
  position: relative;

  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6.4px;
}
