@use "../../../theme/variables.scss";
@import "../../../theme/mixins.scss";

.button-secondary {
  display: flex;
  justify-content: center;
  padding: 2rem;

  background-color: var(--primary-third-80);
  transition: background-color 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  @include btn-link(variables.$primary);
  text-decoration: none;

  @media (min-width: variables.$large) {
    &:hover {
      background-color: var(--primary-third);
    }
  }

  @media (max-width: variables.$med) {
    background-color: var(--primary);
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    @include btn-link(var(--primary-sixth));
  }
}

.button-secondary__text {
  position: relative;

  font-family: var(--primary-font);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6.4px;
}
