@import "../../../theme/mixins.scss";
@import "../../../theme/variables.scss";

.button-secondary {
  display: flex;
  justify-content: center;
  padding-top: 1.562rem;
  padding-bottom: 1.562rem;
  text-decoration: none;
  @include btn-link($primary);
  transition: background-color 300ms;
  background-color: var(--primary-sixth);
}

.button-secondary__text {
  position: relative;
  transform: translateX(1.9em);
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;

  color: var(--primary);

  font-family: helveticaNeue, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6.4px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -3rem;
    height: 1px;
    width: 3.5em;
    background-color: var(--primary);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
}
