$primary: rgba(255, 255, 255, 1);
$primary-50: rgba(255, 255, 255, 0.5);
$primary-second: rgba(27, 26, 26, 1);
$primary-third: rgba(0, 0, 0, 1);
$primary-third-20: rgba(0, 0, 0, 0.2);
$primary-third-50: rgba(0, 0, 0, 0.5);
$primary-forth: rgba(187, 187, 187, 1);
$primary-forth-30: rgba(187, 187, 187, 0.3);
$primary-fifth: rgba(236, 234, 230, 1);
$primary-sixth: rgba(21, 21, 21, 1);
$primary-seventh: rgba(163, 161, 161, 1);

$primaryFont: gotham, "Helvetica Neue", sans-serif;
$secondaryFont: montserrat, sans-serif;

//352
$xsmall: 22rem;
//512
$small: 32rem;
//864
$med: 54rem;
//1040
$large: 65rem;
//1456
$xlarge: 91rem;
//1840
$xxlarge: 115rem;
//2080
$xxxlarge: 130rem;