$primary: rgba(255, 255, 255, 1);
$primary-50: rgba(255, 255, 255, 0.5);
$primary-second: rgba(27, 26, 26, 1);
$primary-third: rgba(0, 0, 0, 1);
$primary-third-20: rgba(0, 0, 0, 0.2);
$primary-third-50: rgba(0, 0, 0, 0.5);
$primary-forth: rgba(187, 187, 187, 1);
$primary-forth-30: rgba(187, 187, 187, 0.3);
$primary-fifth: rgba(236, 234, 230, 1);
$primary-sixth: rgba(21, 21, 21, 1);
$primary-seventh: rgba(163, 161, 161, 1);