.services__swiper-container {
  position: relative;
}

.services__swiper-button-next,
.services__swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 4.75rem;
  z-index: 100;
  background-color: transparent;
  border: none;
  padding: 4rem 0;
  cursor: pointer;
  &.disabled {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    padding-top: 10%;
  }

  svg {
    fill: var(--primary-sixth);
    max-width: 100%;
    max-height: 100%;
  }
}

.services__swiper-button-next {
  left: 100%;
  transform: translate(-50%, -50%);
}

.services__swiper-button-prev {
  right: 100%;
  transform: translate(50%, -50%);
}

.services__slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.services__slide-img {
  position: relative;
  width: 3.875rem;
  margin-bottom: 2.687rem;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  // svg {
  //   fill: var(--primary-seventh);
  //   stroke: var(--primary-seventh);
  // }
}

.services__slide-text-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.656rem;
}

.services__slide-text {
  color: var(--primary-sixth);

  font-family: montserrat;
  font-size: 1.25;
  font-weight: 300;
  line-height: 1.219;
}
