@use "../../../theme/variables.scss";
@import "../../../theme/mixins.scss";

.services {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: var(--primary-fifth);

  @media (max-width: variables.$med) {
    padding-top: 1.125rem;
    padding-bottom: 5rem;
    .page-container {
      padding: 0 0 0 1.875rem;
    }
  }

  @media (max-width: variables.$small) {
    padding-top: 0.562rem;
    padding-bottom: 1rem;

    .page-container {
      padding: 0;
    }
  }
}

.services__title {
  @include section-title(var(--primary-sixth), 2.812rem);

  @media (max-width: variables.$med) {
    @include section-title(var(--primary-sixth), 2.843rem);
  }

  @media (max-width: variables.$small) {
    @include section-title(var(--primary-sixth), 2.375rem);
  }
}