@import "../../../theme/mixins.scss";

.services {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: var(--primary-fifth);
}

.services__title {
  @include section-title(var(--primary-sixth), 2.812rem);
}