.service-cards {
  padding: 3.125rem 0 1.125rem;
}

.service-cards__list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.service-cards__item{
  width: 33.538%;
  margin-bottom: 5.75rem;

  &:nth-child(2n + 1) {
    margin-right: auto;
  }
}

.service-cards__item span{
  display: inline-block;
  margin-bottom: 1.25rem;

  color: var(--primary-sixth);

  font-family: var(--primary-font);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2.4;
  text-transform: uppercase;
}

.service-cards__item div {
  width: 3.75rem;
  border-top: 1px solid var(--primary-sixth);
}