@import "../../../theme/mixins.scss";

.btn {
  @include btn-animation;
  display: inline-block;

  font-size:  0.875rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
}